<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<form th:action="@{/API/DoneList}" th:object="${listModel}" method="post">
	    <input placeholder="Content" type="text" th:field="*{content}"/>
	    <input type="submit"/>
	</form>
   <!--用th:each接收一個可迭代的物件，將thymeleaf傳遞過來的參數"list"，別名為i-->
    <ul th:each="listModel:${listModels}">
        <!--將i渲染至畫面-->
        <li th:text="'Date: ' + ${listModel.date} + 'Name: ' + ${listModel.content}">
        </li>
    </ul>
</body>
</html>